VITE_PORT=15173
VITE_PUBLIC_PATH=/
VITE_GLOB_APP_TITLE=Kerthus
VITE_GLOB_APP_SHORT_NAME=kerthus_admin
VITE_GLOB_API_URL=http://127.0.0.1:18080
VITE_GLOB_API_URL_PREFIX=
VITE_GLOB_UPLOAD_URL=http://127.0.0.1:18080/app/file/upload
VITE_USE_MOCK=false
VITE_USE_PWA=false
VITE_USE_IMAGEMIN=false
VITE_LEGACY=false
VITE_BUILD_COMPRESS=none
VITE_BUILD_COMPRESS_DELETE_ORIGIN_FILE=false
VITE_DROP_CONSOLE=false
VITE_PROXY=[]
